
# Python
__pycache__/
*.py[cod]
*$py.class
*.pyo

# Virtual Environment
venv/
env/
.venv/
AI_CCTV_Survellance_System/

# Environment Variables
.env

# IDE
.vscode/
.idea/

# Logs
logs/
*.log

# Database
*.db
*.sqlite
*.sqlite3

# Snapshots & Generated Data
data/snapshots/
data/processed/

# Pytest
.pytest_cache/

# Jupyter
.ipynb_checkpoints/

# Streamlit
.streamlit/

# OS Files
.DS_Store
Thumbs.db